@model SGHR.Web.ViewModel.Reservas.CancelarReservaViewModel;

<h2>Cancelar Reserva</h2>
@using (Html.BeginForm())
{
    <form asp-action="Cancelar" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="MotivoCancelacion"></label>
            <textarea asp-for="MotivoCancelacion" class="form-control"></textarea>
            <span asp-validation-for="MotivoCancelacion" class="text-danger"></span>
        </div>
        <form asp-action="Cancel" method="post" style="display:inline;"
              onsubmit="return confirm('¿Estás seguro de que quieres cancelar esta reserva?');">
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-danger">Cancelar</button>
        </form>

        
    </form>
}