@model SGHR.Web.ViewModel.Reservas.CrearReservaViewModel;
@using SGHR.Domain.Enums;

@{
    ViewData["Title"] = "Crear Nueva Reserva";
}

<h1>Crear Nueva Reserva</h1>

<h4>Detalles de la Reserva</h4>

<hr />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="IdCliente" class="form-label"></label>
                    <input asp-for="IdCliente" class="form-control" />
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="IdCategoriaHabitacion" class="form-label"></label>
                    <input asp-for="IdCategoriaHabitacion" class="form-control" />
                    <span asp-validation-for="IdCategoriaHabitacion" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NumeroHuespedes" class="form-label"></label>
                    <input asp-for="NumeroHuespedes" class="form-control" />
                    <span asp-validation-for="NumeroHuespedes" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FechaEntrada" class="form-label"></label>
                    <input asp-for="FechaEntrada" class="form-control" type="date" />
                    <span asp-validation-for="FechaEntrada" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FechaSalida" class="form-label"></label>
                    <input asp-for="FechaSalida" class="form-control" type="date" />
                    <span asp-validation-for="FechaSalida" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="EstadoReserva" class="form-label"></label>
                    <select asp-for="EstadoReserva" class="form-select" asp-items="Html.GetEnumSelectList<EstadoReserva>()">
                        <option value="">Seleccione un Estado</option>
                    </select>
                    <span asp-validation-for="EstadoReserva" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
}
<div class="mt-3">
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}